Welcome
<div> <%= link_to "new deck", new_deck_path %> </div>
<%= link_to "Sign out", session_path , method: :delete %>
<% @decks.each do |deck| %>
    <div>
      <%= link_to deck.name, deck %>
      <%= link_to "Edit", edit_deck_path(deck) %>
      <%= button_to "Delete", deck, method: "delete", data: { confirm: "are you sure?" } %>
    </div>
<% end %>