<%= link_to "Decks", decks_path %>
<div>
    <%= @deck.name %>
</div>

<% @cards.each do |card| %>
    <div>
        <%= link_to card.front, deck_card_path(@deck, card) %>
        <%= link_to "Edit", edit_deck_card_path(@deck, card) %>
        <%= button_to "Delete #{card.front}", deck_card_path(@deck, card), method: "delete", data: { confirm: "Are you sure?" } %>
    </div>
<% end %>
<%= link_to "Create new card", new_deck_card_path(@deck) %>